.header {
    display: flex;
    flex-direction: row;
    width: 100vw;

    .img-container {
        display: flex;
        flex-direction: column;
        width: 50vw;
    }

    .header-container {
        h1 {
            font-size: 3.2em;
            line-height: 1.1;
          }
    }
}