@media screen and (min-width: 340px) {
    .pickaboo-img, .carrousel-img {
        padding: 0.5rem;
        border-radius: 20px;
        margin: auto;
        width: 400px;
        height: 550px;
    }
}

@media screen and (min-width: 600px) {
    .pickaboo-img, .carrousel-img {
        width: 80%;
        height: 80%;
    }
}

@media screen and (min-width: 900px) {
    .img-container2 {
        display: flex;
        flex-direction: row;
        margin: 2rem;

        .pickaboo-img {
            margin-right: 40px;
        }
    }
}